@import "consts";

/** the whoooole page **/
body {
	background-image:url('nature.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
	font-family: $sans;
}
#page {
	width: $widescreen-width;
	margin: 0px auto;
	box-sizing: border-box;
}
@media (max-width: $widescreen-width + 20px ) {
    #page {
        width: auto;
				margin: 0 10px;
    }
}

.error {
	background: pink;
	border: 1px solid red;
	color: red;
	padding: 8px;
	margin: 5px 0;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.clearfix::after {
	clear: both;
}

/** header area **/
.title {
  font-style: italic;
	text-shadow: 2px 2px black;
	font-family: $serif;
  font-weight: normal;
}
#title {
  h1, h2 {
    @extend .title;
    margin-top: 0;
  	margin-bottom: .5rem;
  }
  h1 {
    font-size: 2.5rem;
    a {
    	text-decoration: none;
    	color: white;
      &:hover {
      	text-decoration: underline;
      }
    }
  }
}

/** menu **/
@import "navbar";

/** footer **/
#footer {
	margin: 35px 0 15pt 0;
	font-size: 10pt;
}

/** content **/

#pagetitle {
  @extend .title;
	font-size: 30pt;
	text-align: center;
}

#content {
  margin-top: 1.53em;
}

.form-group {
  margin-bottom: 1.2rem;
  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  input, select, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: $bs-padding;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: $border-radius;
  }
}

.button-wrapper {
	text-align: center;
}
.button {
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	background-color: $green;
  border: none;
  border-radius: 5px;
  color: white;
	font-size: 11pt;
 	padding: 10px 15px;
	text-decoration: none;
	margin: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	transition: background-color 0.4s;
	cursor: pointer;
	&:hover {
		background-color: lighten($green, 10);
	}
	&[hidden] {
		display: none;
	}
}
