@import "consts";

/** the whoooole page **/
body {
	background-image:url('nature.jpg');
	/**changed opacity**/
	opacity: 0.75;
	/**changed background size**/
	backgroun-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: $sans;
}
#page {
	width: $widescreen-width;
	margin: 0px auto;
	box-sizing: border-box;
}
@media (max-width: $widescreen-width + 20px ) {
    #page {
        width: auto;
				margin: 0 10px;
    }
}

.clearfix::after {
	clear: both;
}

/** header area **/
.title {
  font-style: italic;
	text-shadow: 2px 2px black;
	font-family: $serif;
  font-weight: normal;
}
#title {
  h1, h2 {
    @extend .title;
    margin-top: 0;
  	margin-bottom: .5rem;
  }
  h1 {
    font-size: 2.5rem;
    a {
    	text-decoration: none;
    	color: white;
      &:hover {
      	text-decoration: underline;
      }
    }
  }
}

/** menu **/
@import "navbar";

/** footer **/
#footer {
	margin: 35px 0 15pt 0;
	font-size: 10pt;
}

/** content **/

#pagetitle {
  @extend .title;
	font-size: 30pt;
	text-align: center;
}

#content {
  margin-top: 1.53em;
}

.form-group {
  margin-bottom: 1.2rem;
  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  input, select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
}

.button {
	margin-left: 43%;
	background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
 	padding: 4px 15px;
 	font-family: $serif;
  font-size: inherit;
}
/**changed light green to green**/
.emphatic-link {
	display: block;
	text-align: right;
	color: green;
	text-shadow: 2px 2px black;
	font-weight: bold;
	font-size: 30px;
}
