@import "consts";

.post {
  color: #000;
  background-color: #fff;
  margin: 16px 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 16px;
  border-radius: $border-radius;
  * {
    box-sizing: border-box;
  }
}

/* layout */
.post-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  h4.post-title {
    margin-top: 0;
  }
}
.post-content-left {
  flex-basis: 50%;
}
.post-content-right {
  flex-basis: 50%;
  margin-left: 16px;
  text-align: center;
}

.post-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
.post-saw {
  color: #999;
}
.post-title-input-group .input {
  display: flex;
  a, .post-saw {
    flex-grow: 0;
  }
}
.post-title-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.post-description-button-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  .form-group {
    flex-grow: 1;
    display: flex;
  }
}
.post-description {
  width: 100%;
  font-size: 16px;
  white-space: pre-line;
  word-break: break-word;
  max-height: 300px;
  overflow-y: scroll;
}
.post-description-input {
  font-size: 16px;
  min-height: 80px;
  flex-grow: 1;
  resize: none;
}

.post-submit-button {
  display: block;
  text-align: center;
  margin: 0;
}

.post-username {
  font-weight: bold;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.post-location-search-form-group {
  display: flex;
  .post-location-search {
    transition: all 0.4s;
  }
  .button {
    margin: 0 0 0 10px;
    white-space: nowrap;
    transition: all 0.4s;
    box-sizing: border-box;
  }
}

.post-timestamp {
  font-size: 10pt;
  font-weight: normal;
  color: gray;
}

.post-map {
  width: 400px;
  height: 300px;
  border-radius: $border-radius;
}

.dummy-post-wrapper {
  position: relative;
}
.dummy-post-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: $border-radius;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  p {
    font-size: 13pt;
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  60% {opacity: 0;}
  100% {opacity: 1;}
}
.button-big {
  font-size: 14pt;
  padding: 15px;
}

@media (max-width: $widescreen-width + 20px ) {
  .post-content {
    display: block;
  }
  .post-content-right {
    margin-top: 16px;
    width: 100%;
    margin-left: 0;
  }
  .post-map {
    width: 100%;
    height: auto;
  }
  #new-post .post-map {
    width: 100%;
    height: 300px;
  }
}
