{% macro post(data, newPost) %}
  <div class="post" {% if newPost -%} id="new-post" {%- endif %}>
    <div class="post-content">
      <div class="post-content-left">
        {%- if newPost %}
        <form method="post">
        {% endif %}
        <h4 class="post-title">
          {%- if newPost -%}
            <div class="form-group post-title-input-group">
              <div class="input">
                <a class="post-username" href="/user/{{ user.username }}">{{ user.username }}</a>&nbsp;<span class="post-saw">saw a</span>&nbsp;<input name="post_title" class="no-bs post-title-input" maxlength="50" />
              </div>
            </div>
          {%- else -%}
            <a class="post-username" href="/user/{{ data.username }}">{{ data.username }}</a>&nbsp;<span class="post-saw">saw {{ utils.aVsAn(data.post_title) }}</span>&nbsp;{{ data.post_title|safe }}
            <div class="post-timestamp">{% if not newPost -%} {{ utils.timeSince(data.post_date) }}{%- endif %}</div>
          {%- endif -%}
        </h4>
        {% if newPost %}{% endif %}
          {%- if newPost -%}
            <div class="post-description-button-wrapper">
              <div class="form-group">
                <textarea name="post_desc" class="post-description-input" maxlength="250" placeholder="And this is why it was cool..."></textarea>
              </div>
              <input type="hidden" name="latitude" value="40.689254"/>
              <input type="hidden" name="longitude" value="-74.0445"/>
              <button class="button post-submit-button" type="submit">Post</button>
            </div>
            </form>
          {%- else -%}
            <p class="post-description">
              {{ data.post_desc|safe }}
            </p>
          {%- endif -%}
      </div>
      <div class="post-content-right">
        {% if newPost %}
          <div class="error" id="post-error" hidden></div>
          <div class="form-group post-location-search-form-group">
            <input type="text" id="post-location-search" placeholder="Search for a location">
            <button class="button" id="post-location-button" type="button">Current Location</button>
          </div>
          <div class="post-map"></div>
        {% else %}
          <img class="post-map" src="https://maps.googleapis.com/maps/api/staticmap?center={{ data.latitude }},{{ data.longitude }}&markers=|{{ data.latitude }},{{ data.longitude }}&zoom=16&size=640x480&key=AIzaSyBV3jNuAHYiFPCPRgEUJ-4SHBZxQ3c3Pr0" />
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
