<!-- Robert Rossetti -->
<!-- Created 2/27/18 -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- global scripts/styles -->
    <link rel="stylesheet" href="/global.css">
    <script src="/global.js"></script>
    
    <!-- page-specific scripts/styles -->
    {% block head %}
    {% endblock %}
    
    {% if title %}
      <title>{{title}} - Natural Neighbors</title>
    {% else %}
      <title>Natural Neighbors</title>
    {% endif %}
  </head>
  <body>
  	<div id="page">
      <div id="title">
        <h1><a href="/">Natural Neighbors</a></h1>
  			<h2>Your wildlife journal</h2>
      </div>
      {% include "templates/navbar.njk" %}
      <div id="content">
        {% if errors %}
          {% for error in errors %}
            <div class="error">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
        {% if title %}
          <h2 id="pagetitle">{{title}}</h2>
        {% endif %}

        {% block content %}
        {% endblock %}
  		</div>
      <div id="footer">
        Copyright &copy; teamWORK
      </div>
  	</div>
  </body>
</html>
