{% extends "templates/skeleton.njk" %}
{% set title = "About Us" %}
{% block content %}
  <p>
    Team WORK is six Computer Science students at CU Boulder.
  	This page was built as part of a software development course.
  	Hope you enjoy!
  </p>
  
  <hr/>

  <h2>Tuqa Alaithan</h2>
  <p>
    Tuqa is from Saudi Arabia.
    She is interested in IT security, and her favorite animal is Cheetahs.
  </p>
  
  <hr/>

  <h2>Jacob Bloom</h2>
  <p>
    Jacob likes to do JavaScript things but if you pay him he can do other things.
    If the dress was blue for you swipe left. His favorite animal is bird.
  </p>
  
  <hr/>

  <h2>Eliott Ishack</h2>
  <p>
    Eliott is from Virginia.
    He is studying Computer Science and
    Eliot's favorite animal is a marmot.
  </p>
  
  <hr/>

  <h2>Joy Mace</h2>
  <p>
    Joy is from Colorado. She is studying Computer Science Engineering.
    Joy's favorite animal is the Red Panda.
  </p>
  
  <hr/>

  <h2>Robert Rosetti</h2>
  <p>
    Robert is from the Boston area.
    He's majoring in computer science so that he can become a software developer,
    and his favorite animal is the sloth.
  </p>
  
  <hr/>

  <h2>Jun Sheng</h2>
  <p>
    Jun is from Cu Boulder. He is studying Computer Science. Jun's favorite animal is unknown.
  </p>
  
  <hr/>

  <h2>Special Thanks</h2>
  <p>
    Thanks to Alan Paradise for giving us a crash course on nearly every
    element of a software project!
  </p>
  <p>Thanks to Rashmi, our TA, for helping us learn the material!</p>
{% endblock %}
