{% extends "templates/skeleton.njk" %}
{% set title = "Find" %}
{% block content %}
<form>
	
	<div class="row">
		<div class="col-lg-12">
			<h3>Enter Your Location</h3>
			<br>
			<strong>State</strong><br>
			<select id="states">
				<option selected="selected">Choose A State</option>
				<option>Alaska</option>
				<option>California</option>
				<option>Colorado</option>
				<option>Texas</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<br>
			<strong>Zip Code:</strong><br>
			<input type="text" placeholder="Zip Code">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<br>
			<strong>What kind of wildlife are you looking for?</strong><br>
			<input type="radio" name="type">Plants&nbsp;<br>
			<input type="radio" name="type">Animals&nbsp;<br>
			<input type="radio" name="type">Insects<br>				
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<button type="button" onclick="alert('Form Submitted.')" 
			style="background-color:green;color:white">Submit</button>
		</div>
	</div>
</form>
{% endblock %}
