{% extends "templates/skeleton.njk" %}
{% set title = null %}
{% block head %}
<link rel="stylesheet" href="/journal.css">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV3jNuAHYiFPCPRgEUJ-4SHBZxQ3c3Pr0&callback=initMap"></script>
<script src="/journal.js"></script>
{% endblock %}
{% block content %}
{% from "templates/post.njk" import post with context %}

{% if user %}
{{ post(null, true) }}
{% else %}
  <div class="dummy-post-wrapper">
    {{ post(dummy, false) }}
    <div class="dummy-post-overlay">
      <div>
        <p>Do you get super excited when you see the biggest hawk ever?!
          So do we!
          Tell us all about your Natural Neighbors in your Wildlife Journal!</p>
        <p>View other Nature Fans' posts to find out where you can go to see what they saw!
          Register now to start sharing!</p>
        <a href='/register' class="button button-big">Sign Up</a>
      </div>
    </div>
  </div>
{% endif %}

{% for post_data in posts %}
  {{ post(post_data, false) }}
{% endfor %}

{% endblock %}
