{% extends "templates/skeleton.njk" %}
{% set title = null %}
{% block head %}
<link rel="stylesheet" href="/journal.css">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV3jNuAHYiFPCPRgEUJ-4SHBZxQ3c3Pr0&callback=initMap"></script>
<script src="/journal.js"></script>
{% endblock %}
{% block content %}
{% from "templates/post.njk" import post with context %}

{% if user %}
{{ post(null, true) }}
{% else %}
<p>Do you get super excited when you see the biggest hawk ever?!
  So do we!
  Tell us all about your Natural Neighbors in your Wildlife Journal!</p>
  {{ post(dummy, false) }}
<p>View other Nature Fans' posts to find out where you can go to see what they saw!
  Register now to start sharing!</p>
  
<div class="button-wrapper">
  <a href='/register' class="button">Click here to sign up!</a>
</div>
{% endif %}

{% for post_data in posts %}
  {{ post(post_data, false) }}
{% endfor %}

{% endblock %}
