{% extends "templates/skeleton.njk" %}
{% set title = "Home" %}
{% block content %}
<div class="container">
	<p>Do you get super excited when you see the biggest hawk ever?!
		So do we!
		Tell us all about your Natural Neighbors in your Wildlife Journal!</p>
		{#post goes here generic 'Your name here' profile#}
	<p>View other Nature Fans' posts to find out where you can go to see what they saw!</p>
		{#other person's post goes here#}
	<p>Register now to start sharing!</p>
	<div class="button-wrapper">
		
		<a href='/register' class="button">Click here to sign up!</a>
	</div>
</div>
{% endblock %}
{#removed images#}