{% extends "templates/skeleton.njk" %}
{% set title = "Log In" %}
{% block content %}
<form method="post">
 <div class="form-group" id="email">
   <label for="username_input">Username</label>
   <input type="text" name="username" class="form-control" id="username_input" placeholder="Enter Username">
 </div>

 <div class="form-group" id="pass">
   <label for="password_input" id="passLabel">Password</label>
   <input type="password" name="password" class="form-control" id="password_input" placeholder="Enter Password">
 </div>
 
 <div class="button-wrapper">
   <input type= "submit" value="Log in" class="button">
   <a href='/register' class="button">New Member? Sign up!</a>
 </div>
</form>
{% endblock %}
