{% extends "templates/skeleton.njk" %}
{% set title = profile.username %}
{% block head %}
<link rel="stylesheet" href="/journal.css">
{% endblock %}
{% block content %}
{% from "templates/post.njk" import post with context %}
{% for post_data in posts %}
  {{ post(post_data, false) }}
{% endfor %}
{% endblock %}
