body {
	background-image:url('nature.jpg');
	background-attachment: fixed;
	color: white;
}

#title, #pagetitle {
	margin-top: 5%;
	font-style: italic;
	text-shadow: 2px 2px black;
	font-family: "Times New Roman", Times, serif;
}
#title a {
	color: white;
}
#pagetitle {
	font-size: 30pt;
	text-align: center;
}

#menu {
	border-top: 1.5px solid white;
	border-bottom: 1.5px solid white;
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu li {
	display: inline-block;
}
#menu li a {
	display: inline-block;
	padding: 10px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#menu li a:hover {
	background: rgba(255,255,255,.4);
}
#menu li a:disabled {
	color: lightgray;
}

#content {
	margin-bottom: 15px;
}

.button {
	margin-left: 43%;
	background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
 	padding: 4px 15px;
 	font-family: "Times New Roman", Times, serif;
}

.emphatic-link {
	display: block;
	text-align: right;
	color:lightgreen;
	text-shadow: 2px 2px black;
	font-weight: bold;
}
